<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-info-circle"></i>User Info
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
            <tr>
              <td>Username</td>
              <td>2012/01/01</td>
            </tr>
            <tr>
              <td>Estavan Lykos</td>
              <td>2012/02/01</td>
              <td>Staff</td>
              <td>
                <span class="badge badge-danger">Banned</span>
              </td>
            </tr>
            <tr>
              <td>Chetan Mohamed</td>
              <td>2012/02/01</td>
              <td>Admin</td>
              <td>
                <span class="badge badge-secondary">Inactive</span>
              </td>
            </tr>
            <tr>
              <td>Derick Maximinus</td>
              <td>2012/03/01</td>
              <td>Member</td>
              <td>
                <span class="badge badge-warning">Pending</span>
              </td>
            </tr>
            <tr>
              <td>Friderik Dávid</td>
              <td>2012/01/21</td>
              <td>Staff</td>
              <td>
                <span class="badge badge-success">Active</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
