<h2 mat-dialog-title>Reset User's Password</h2> F:{{resetPasswordForm.valid}}

<mat-dialog-content style="overflow: auto">

  <form [formGroup]="resetPasswordForm">

    <p>
      This will clear the User's current password and give them a temporary password.<br />
      They will be prompted to create a new password when they log in with the temporary password.
    </p>

    <!--
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="userId">User ID</label>
          <input id="userId" type="text" class="form-control" formControlName="userId">
          <mat-error *ngFor="let validation of validationMessages.newPassword">
            <mat-error class="error-message"
                       *ngIf="resetPasswordForm.get('userId').hasError(validation.type)
                                && (resetPasswordForm.get('userId').dirty ||
                                resetPasswordForm.get('userId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>
    -->

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input id="newPassword" type="password" class="form-control" formControlName="newPassword" #newPasswordField>
          <mat-error *ngFor="let validation of validationMessages.newPassword">
            <mat-error class="error-message"
                       *ngIf="resetPasswordForm.get('newPassword').hasError(validation.type)
                                && (resetPasswordForm.get('newPassword').dirty ||
                                resetPasswordForm.get('newPassword').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="newPasswordConfirm">Confirm New Password</label>
          <input id="newPasswordConfirm" type="password" class="form-control" formControlName="newPasswordConfirm">
          <mat-error *ngFor="let validation of validationMessages.newPasswordConfirm">
            <mat-error class="error-message"
                       *ngIf="resetPasswordForm.get('newPasswordConfirm').hasError(validation.type)
                                && (resetPasswordForm.get('newPasswordConfirm').dirty ||
                                resetPasswordForm.get('newPasswordConfirm').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close class="btn btn-primary" (click)="save();"
          [disabled]="!resetPasswordForm.valid">Update
  </button>
</mat-dialog-actions>
