<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="series">

  <form [formGroup]="seriesEditForm">

    <div class="row">

      <div class="col-sm-6">
        <h1 *ngIf="series && newRecord && seriesEditForm.controls['name'].value == ''; else notShow">
          New Series
        </h1>
        <ng-template #notShow>
          <h1>
            {{seriesEditForm.controls['name'].value}}
          </h1>
        </ng-template>
      </div>

      <div class="col-sm-6">
        <div class="form-group float-right">
          <button type="button" class="btn btn-sm btn-outline-danger" style="width: 100px;" *ngIf="!newRecord"
                  (click)="delete(series.guid)">
            <!--            [disabled]="authService.allowRoles('ROLE_ADMIN')"-->
            <u>D</u>elete
          </button>
          <button type="button" class="btn btn-sm btn-outline-success" style="width: 100px;" (click)="save()"
                  [disabled]="!seriesEditForm.valid">
            <u>S</u>ave
          </button>
          <button type="button" class="btn btn-sm btn-outline-info ml-3" style="width: 100px;" (click)="cancel()">
            <u>C</u>ancel
          </button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-television"></i>
            Series
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Series Name</label>
                  <input matInput id="name" type="text" class="form-control" placeholder="Last Name"
                         formControlName="name" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.name">
                    <mat-error class="error-message"
                               *ngIf="seriesEditForm.get('name').hasError(validation.type)
                                && (seriesEditForm.get('name').dirty ||
                                seriesEditForm.get('name').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <i class="fa fa-rss"></i>
            Metadata
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="guid">GUID</label>
                  <input matInput id="guid" type="text" class="form-control" placeholder="GUID"
                         formControlName="guid" autocomplete="chrome-off" readonly>
                  <mat-error *ngFor="let validation of validationMessages.guid">
                    <mat-error class="error-message"
                               *ngIf="seriesEditForm.get('guid').hasError(validation.type)
                                && (seriesEditForm.get('guid').dirty ||
                                seriesEditForm.get('guid').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <div class="float-left" style="line-height: 28px;">
              <i class="fa fa-leaf"></i>
              Seasons
            </div>
            <button type="button" class="btn btn-sm btn-outline-primary float-right" (click)="openCreateSeasonDialog()"
                    style="cursor: pointer;">
              <u>A</u>dd New Season
            </button>
          </div>
          <div class="card-body">

            <div class="table-container">

              <table mat-table [dataSource]="dataSource" *ngIf="dataSource && dataSource.length > 0"
                     class="table table-striped">

                <ng-container matColumnDef="seasonGuid">
                  <th mat-header-cell *matHeaderCellDef>GUID</th>
                  <td mat-cell *matCellDef="let row">{{row.seasonGuid}}</td>
                </ng-container>

                <ng-container matColumnDef="number">
                  <th mat-header-cell *matHeaderCellDef>Season Name</th>
                  <td mat-cell *matCellDef="let row">
                    {{row.name}}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [hidden]="true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <div class="no-records" *ngIf="dataSource && dataSource.length <= 0">
                No records to display.
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </form>

</div>
