<h2 mat-dialog-title>Change Password</h2>

<mat-dialog-content style="overflow: auto">

  <form [formGroup]="changePasswordForm">

    <p>
      <span [innerHTML]="formatDialogMessage(dialogMessage)"></span>
    </p>

    <!--
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="userId">User ID</label>
          <input id="userId" type="text" class="form-control" formControlName="userId">
          <mat-error *ngFor="let validation of validationMessages.newPassword">
            <mat-error class="error-message"
                       *ngIf="changePasswordForm.get('userId').hasError(validation.type)
                                && (changePasswordForm.get('userId').dirty ||
                                changePasswordForm.get('userId').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>
    -->

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="currentPassword">Current Password</label>
          <input id="currentPassword" type="password" class="form-control" formControlName="currentPassword"
                 #currentPasswordField>
          <mat-error *ngFor="let validation of validationMessages.currentPassword">
            <mat-error class="error-message"
                       *ngIf="changePasswordForm.get('currentPassword').hasError(validation.type)
                                && (changePasswordForm.get('currentPassword').dirty ||
                                changePasswordForm.get('currentPassword').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input id="newPassword" type="password" class="form-control" formControlName="newPassword">
          <mat-error *ngFor="let validation of validationMessages.newPassword">
            <mat-error class="error-message"
                       *ngIf="changePasswordForm.get('newPassword').hasError(validation.type)
                                && (changePasswordForm.get('newPassword').dirty ||
                                changePasswordForm.get('newPassword').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="newPasswordConfirm">Confirm New Password</label>
          <input id="newPasswordConfirm" type="password" class="form-control" formControlName="newPasswordConfirm">
          <mat-error *ngFor="let validation of validationMessages.newPasswordConfirm">
            <mat-error class="error-message"
                       *ngIf="changePasswordForm.get('newPasswordConfirm').hasError(validation.type)
                                && (changePasswordForm.get('newPasswordConfirm').dirty ||
                                changePasswordForm.get('newPasswordConfirm').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </div>
      </div>
    </div>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close class="btn btn-primary" (click)="save();"
          [disabled]="!changePasswordForm.valid">Update
  </button>
</mat-dialog-actions>
