<div class="animated fadeIn" *ngIf="person">

  <div class="row">
    <div class="col-sm-6">
      <h1>{{person.lastName}}, {{person.firstName}}</h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <!--        <button class="btn btn-sm btn-outline-info" (click)="openEditDialog(person.guid)">Edit in Popup</button>-->
        <button class="btn btn-sm btn-outline-info" (click)="openEditPage()" style="width: 100px">Edit</button>
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="returnToList()" style="width: 100px">Return to
          List
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-user-circle"></i>Person
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Last Name:</dt>
            <dd class="col-sm-9">{{person.lastName}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">First Name:</dt>
            <dd class="col-sm-9">{{person.firstName}}</dd>
          </dl>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-home"></i>Address
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Street:</dt>
            <dd class="col-sm-9">{{person.street}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">City:</dt>
            <dd class="col-sm-9">{{person.city}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">State:</dt>
            <dd class="col-sm-9">{{person.state}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Zip Code:</dt>
            <dd class="col-sm-9">{{person.zipCode}}</dd>
          </dl>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-phone"></i>Contact
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Home Phone:</dt>
            <dd class="col-sm-9">{{person.homePhone}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Mobile Phone:</dt>
            <dd class="col-sm-9">{{person.mobilePhone}}</dd>
          </dl>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-institution"></i>Company
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">{{person.companyName}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Website:</dt>
            <dd class="col-sm-9">{{person.companyWebsite}}</dd>
          </dl>
        </div>
      </div>

    </div>
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-group"></i>Friends
        </div>
        <div class="card-body">

          <div class="table-container" #contentPlaceholder>

            <table mat-table [dataSource]="dataSource" *ngIf="dataSource && dataSource.length > 0"
                   matSort matSortActive="lastName" matSortDirection="asc" matSortDisableClear="true"
                   class="table table-striped">

              <ng-container matColumnDef="guid">
                <th mat-header-cell *matHeaderCellDef>GUID</th>
                <td mat-cell *matCellDef="let row">{{row.guid}}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let row">
                  {{row.lastName}}, {{row.firstName}}
                </td>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
              </ng-container>

              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [hidden]="true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="no-records" *ngIf="dataSource && dataSource.length <= 0">
              No records to display.
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
