<div class="tqp-crud-detail animated fadeIn" *ngIf="contestant">

  <div class="row">
    <div class="col-sm-6">
      <h1>{{contestant.contestantFirstName}} {{contestant.contestantLastName}}</h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <button class="btn btn-sm btn-outline-info" (click)="openEditPage()" style="width: 100px">
          <u>E</u>dit
        </button>
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="returnToList()" style="width: 100px">
          Return to <u>L</u>ist
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i>
          Basic Info
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Last Name:</dt>
            <dd class="col-sm-9">{{contestant.contestantLastName}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">First Name:</dt>
            <dd class="col-sm-9">{{contestant.contestantFirstName}}</dd>
          </dl>
          <dl class="row" *ngIf="contestant.contestantNickname">
            <dt class="col-sm-3">Nickname:</dt>
            <dd class="col-sm-9">{{contestant.contestantNickname}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Gender:</dt>
            <dd class="col-sm-9">{{genderNames[contestant.contestantGender]}}</dd>
          </dl>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-address-card"></i>
          Additional Info
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Date of Birth:</dt>
            <dd class="col-sm-9">{{contestant.contestantDateOfBirth}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Twitter Handle:</dt>
            <dd class="col-sm-9">
              <span class="tqp-nav-link" (click)="openTwitter(contestant.contestantTwitterHandle);">{{contestant.contestantTwitterHandle}}</span>
            </dd>
          </dl>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-rss"></i>
          Metadata
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">GUID:</dt>
            <dd class="col-sm-9">{{contestant.contestantGuid}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Comments:</dt>
            <dd class="col-sm-9">{{contestant.contestantComments}}</dd>
          </dl>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-calendar"></i>
          Seasons Played
        </div>
        <div class="card-body">

          <div class="table-container">

            <table mat-table [dataSource]="dataSource" *ngIf="dataSource && dataSource.length > 0"
                   matSort matSortActive="lastName" matSortDirection="asc" matSortDisableClear="true"
                   class="table table-striped">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Series Name</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/reality-tracker/season-detail', row.seasonGuid]">
                    {{row.seriesName}} {{row.seasonName}}
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="playerLink">
                <th mat-header-cell *matHeaderCellDef>Player Link</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/reality-tracker/player-detail', row.playerGuid]">
                    {{row.contestantFirstName}} {{row.contestantLastName}} in {{row.seriesAbbreviation}}{{row.seasonAbbreviation}}
                  </a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [hidden]="true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div class="no-records" *ngIf="dataSource && dataSource.length <= 0">
              No records to display.
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

</div>
