<div class="tqp-crud-detail animated fadeIn" *ngIf="player">

  <div class="row">
    <div class="col-sm-6">
      <h1>{{player.contestantFirstName}} {{player.contestantLastName}}
        in {{player.seriesAbbreviation}}{{player.seasonAbbreviation}}</h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <button class="btn btn-sm btn-outline-info" (click)="openEditPage()" style="width: 100px">
          <u>E</u>dit
        </button>
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="returnToSeason()" style="width: 100px">
          <u>R</u>eturn to List
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i>
          Player Info
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Series:</dt>
            <dd class="col-sm-9">
              <div class="tqp-nav-link"
                   [routerLink]="['/reality-tracker/series-detail', player.seriesGuid]">{{player.seriesName}}</div>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Season:</dt>
            <dd class="col-sm-9">
              <div class="tqp-nav-link"
                   [routerLink]="['/reality-tracker/season-detail', player.seasonGuid]">{{player.seasonName}}</div>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Contestant:</dt>
            <dd class="col-sm-9">
              <div class="tqp-nav-link" [routerLink]="['/reality-tracker/contestant-detail', player.contestantGuid]">
                {{player.contestantFirstName}} {{player.contestantLastName}}
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-address-card"></i>
          Season-Specific Contestant Info
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Occupation:</dt>
            <dd class="col-sm-9">{{player.playerOccupation}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Age On Entry:</dt>
            <dd class="col-sm-9">{{player.playerAgeOnEntry}}</dd>
          </dl>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-sm-12">
    </div>
  </div>

</div>
