<div class="tqp-crud-detail animated fadeIn" *ngIf="fuelActivity">

  <div class="row">
    <div class="col-sm-6">
      <h1>{{fuelActivity.fill.fillDateTime | date: 'MMMM dd, yyyy'}}</h1>
    </div>
    <div class="col-sm-6">
      <div class="form-group float-right">
        <button class="btn btn-sm btn-outline-info" (click)="openEditPage()" style="width: 100px" [disabled]="authService.allowRoles('ROLE_ADMIN')">
          <u>E</u>dit
        </button>
        <button class="btn btn-sm btn-outline-primary ml-3" (click)="returnToList()" style="width: 100px">
          Return to <u>L</u>ist
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-car"></i>
          Fuel Activity Info
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Date:</dt>
            <dd class="col-sm-9">{{fuelActivity.fill.fillDateTime | date: 'MM/dd/yyyy h:mm:ss a (z)'}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Odometer:</dt>
            <dd class="col-sm-9">{{fuelActivity.fill.fillOdometer}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Gallons:</dt>
            <dd class="col-sm-9">{{fuelActivity.fill.fillGallons.toFixed(3)}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Cost per Gallon:</dt>
            <dd class="col-sm-9">${{fuelActivity.fill.fillCostPerGallon.toFixed(3)}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Total Cost:</dt>
            <dd class="col-sm-9"
                [ngStyle]="{'color': getTotalCostColor(fuelActivity.fill.fillGallons, fuelActivity.fill.fillCostPerGallon, fuelActivity.fill.fillTotalCost)}">
              ${{fuelActivity.fill.fillTotalCost.toFixed(2)}}
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Miles Driven:</dt>
            <dd class="col-sm-9">{{fuelActivity.fill.fillMilesTraveled.toFixed(1)}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">MPG (Car):</dt>
            <dd class="col-sm-9"
                [ngStyle]="{'color': getMilesPerGallonColor(fuelActivity.fill.fillMilesPerGallon, fuelActivity.fill.fillMilesTraveled / fuelActivity.fill.fillGallons)}">
              {{fuelActivity.fill.fillMilesPerGallon.toFixed(3)}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">MPG (Calc.):</dt>
            <dd
              class="col-sm-9"
              [ngStyle]="{'color': getMilesPerGallonColor(fuelActivity.fill.fillMilesPerGallon, fuelActivity.fill.fillMilesTraveled / fuelActivity.fill.fillGallons)}">
              {{(fuelActivity.fill.fillMilesTraveled / fuelActivity.fill.fillGallons).toFixed(3)}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Notes:</dt>
            <dd class="col-sm-9">{{fuelActivity.fill.fillComments}}</dd>
          </dl>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-life-ring"></i>
          Station Info
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Station Name:</dt>
            <dd class="col-sm-9">
              {{fuelActivity.station.stationName}}
              <!--              [routerLink]="['/developer-pages/fuel-station-detail/' + fuelActivity.fuelStation.stationGuid]"-->
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Affiliation:</dt>
            <dd class="col-sm-9">{{fuelActivity.station.stationAffiliation}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Address:</dt>
            <dd class="col-sm-9">{{fuelActivity.station.stationAddress}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">City:</dt>
            <dd class="col-sm-9">{{fuelActivity.station.stationCity}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">State:</dt>
            <dd class="col-sm-9">{{fuelActivity.station.stationState}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Zip Code:</dt>
            <dd class="col-sm-9">{{fuelActivity.station.stationZip}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Phone Number:</dt>
            <dd class="col-sm-9">{{fuelActivity.station.stationPhone}}</dd>
          </dl>
        </div>
      </div>

    </div>
  </div>

</div>
