<div class="tqp-crud-server-pagination-list animated fadeIn">

  <div class="card">

    <div class="card-header">
      <div class="float-left" style="line-height: 28px;">
        <i class="fa fa-users mr-2"></i>
        {{listTitle}}
        <span class="badge badge-info ml-2" *ngIf="loadedFirstPage">
          Displaying {{pageStart}} to {{pageEnd}} of {{totalRecords}} records</span>
        <span class="badge badge-warning ml-2" style="cursor: pointer" *ngIf="isFilterApplied" (click)="clearFilters()">Clear Filters</span>
      </div>
      <button class="btn btn-sm btn-outline-primary float-right" (click)="openCreateFuelActivityPage()">
        <i class="fa fa-plus mr-1"></i>
        Create Fuel Activity
      </button>
    </div>

    <div class="card-body">

      <div class="row mb-3">

        <div class="col-md-5">
          <mat-paginator class="paginator"
                         [length]="totalRecords" [pageSize]="pageSize" [hidePageSize]="true"
                         [showFirstLastButtons]="true"></mat-paginator>
        </div>

        <div class="col-md-5 offset-md-7">

          <div class="input-group">

            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-search"></i></div>
            </div>
            <label for="nameSearchFieldId" *ngIf="false"></label>
            <input id="nameSearchFieldId" type="text" class="form-control" placeholder="Search by Contestant Name"
                   [formControl]="fuelActivityListNameSearchFormControl" #nameSearchElementRef autocomplete="off"/>
          </div>

        </div>

      </div>

      <div class="table-container" #tableContainer>

        <table mat-table [dataSource]="dataSource"
               matSort matSortActive="lastName" matSortDirection="asc" matSortDisableClear="true"
               class="table table-striped">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
            <td mat-cell *matCellDef="let row">{{row.contestantLastName}}, {{row.contestantFirstName}} <span
              *ngIf="row.nickname">"{{row.nickname}}"</span></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetailPage(row);"></tr>
        </table>

        <mat-card class="spinner-container" *ngIf="isLoading">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>

      </div>

    </div>
  </div>

</div>

