<div class="animated fadeIn">

  <div class="row">

    <div class="col-6" *ngIf="myCurrentScore">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <div class="bg-primary pl-4 pr-4 pt-2 pb-2 font-2xl mr-3 float-left"
               style="min-width: 110px; text-align: center">
            {{myCurrentScore.score}}
          </div>
          <div class="h5 text-primary mb-0 mt-2" *ngIf="myCurrentScore">{{myCurrentRank}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">My Current Score</div>
        </div>
      </div>
    </div>

    <div class="col-6" *ngIf="myProjectedScore">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <div class="bg-primary pl-4 pr-4 pt-2 pb-2 font-2xl mr-3 float-left"
               style="min-width: 110px; text-align: center">
            {{myProjectedScore.score}}
          </div>
          <div class="h5 text-primary mb-0 mt-2" *ngIf="myProjectedScore">{{myProjectedRank}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Best Possible Score</div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-6">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Current Scores
        </div>
        <div class="card-body">
          <div class="table-container">
            <table mat-table [dataSource]="currentScoresDataSource" class="table table-striped">

              <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef>Player</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/reality-competition/bracket', row.userKey]">{{row.userKey}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="currentScore">
                <th mat-header-cell *matHeaderCellDef>Current</th>
                <td mat-cell *matCellDef="let row">
                  <div style="max-width: 50px; text-align: right;">
                    {{row.score | number: '1.0-0'}}
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="currentScoresDisplayedColumns; sticky: true;"></tr>
              <tr mat-row *matRowDef="let row; columns: currentScoresDisplayedColumns;"></tr>
            </table>

            <mat-card class="spinner-container" *ngIf="currentScoresLoading">
              <mat-progress-spinner color="primary" mode="indeterminate">
              </mat-progress-spinner>
            </mat-card>

          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Best Possible Scores
        </div>
        <div class="card-body">
          <div class="table-container">
            <table mat-table [dataSource]="projectedScoresDataSource" class="table table-striped">

              <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef>Player</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/reality-competition/bracket', row.userKey]">{{row.userKey}}</a>
                </td>
              </ng-container>

              <ng-container matColumnDef="bestPossibleScore">
                <th mat-header-cell *matHeaderCellDef>Best Possible</th>
                <td mat-cell *matCellDef="let row">
                  <div style="max-width: 50px; text-align: right;">
                    {{row.score | number: '1.0-0'}}
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="projectedScoresDisplayedColumns; sticky: true;"></tr>
              <tr mat-row *matRowDef="let row; columns: projectedScoresDisplayedColumns;"></tr>
            </table>

            <mat-card class="spinner-container" *ngIf="projectedScoresLoading">
              <mat-progress-spinner color="primary" mode="indeterminate">
              </mat-progress-spinner>
            </mat-card>
          </div>
        </div>
      </div>

    </div>

    <div class="col-6">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Best Picks Against Opponents' Average
        </div>
        <div class="card-body">
          <div class="table-container">
            <table mat-table [dataSource]="bestPicksDataSource" class="table table-striped">

              <ng-container matColumnDef="contestantKey">
                <th mat-header-cell *matHeaderCellDef>Contestant</th>
                <td mat-cell *matCellDef="let row">
                  {{row.contestantKey}}
                </td>
              </ng-container>

              <ng-container matColumnDef="myScore">
                <th mat-header-cell *matHeaderCellDef>My Points</th>
                <td mat-cell *matCellDef="let row">
                  <div style="max-width: 40px; text-align: right">
                    {{row.myScore | number: '1.0-0'}}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="theirAverage">
                <th mat-header-cell *matHeaderCellDef>Their Average</th>
                <td mat-cell *matCellDef="let row">
                  <div style="max-width: 40px; text-align: right">
                    {{row.theirAverageScore | number: '1.0-0'}}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="pointDifferential">
                <th mat-header-cell *matHeaderCellDef>Points</th>
                <td mat-cell *matCellDef="let row">
                  <div style="max-width: 40px; text-align: right;">
                    {{row.pointDifferential | number: '1.0-0'}}
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="bestPicksDisplayedColumns; sticky: true;"></tr>
              <tr mat-row *matRowDef="let row; columns: bestPicksDisplayedColumns;"></tr>
            </table>

            <mat-card class="spinner-container" *ngIf="bestPicksLoading">
              <mat-progress-spinner color="primary" mode="indeterminate">
              </mat-progress-spinner>
            </mat-card>
          </div>
        </div>
      </div>

    </div>

    <div class="col-6">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Best Picks Against
          <div class="btn-group" dropdown>
            <span dropdownToggle class="tqp-nav-link" style="margin-top: -5px; font-weight: 400;">
              {{againstUserKey}}
            </span>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" href="#">Average</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" (click)="setAgainst('key_user1');">User 1</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="setAgainst('key_user2');">User 2</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="setAgainst('key_user3');">User 3</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="setAgainst('key_user4');">User 4</a></li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="table-container">
            <table mat-table [dataSource]="bestPicksAgainstDataSource" class="table table-striped">

              <ng-container matColumnDef="contestantKey">
                <th mat-header-cell *matHeaderCellDef>Contestant</th>
                <td mat-cell *matCellDef="let row">{{row.contestantKey}}</td>
              </ng-container>

              <ng-container matColumnDef="myScore">
                <th mat-header-cell *matHeaderCellDef>My Points</th>
                <td mat-cell *matCellDef="let row">
                  <div style="max-width: 40px; text-align: right">
                    {{row.myScore | number: '1.0-0'}}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="theirScore">
                <th mat-header-cell *matHeaderCellDef>Their Points</th>
                <td mat-cell *matCellDef="let row">
                  <div style="max-width: 40px; text-align: right">
                    {{row.theirAverageScore | number: '1.0-0'}}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="pointDifferential">
                <th mat-header-cell *matHeaderCellDef>Diff</th>
                <td mat-cell *matCellDef="let row">
                  <div style="max-width: 40px; text-align: right">
                    {{row.pointDifferential | number: '1.0-0'}}
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="bestPicksAgainstDisplayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: bestPicksAgainstDisplayedColumns"></tr>
            </table>

            <mat-card class="spinner-container" *ngIf="bestPicksAgainstLoading">
              <mat-progress-spinner color="primary" mode="indeterminate">
              </mat-progress-spinner>
            </mat-card>

          </div>
        </div>
      </div>

    </div>

  </div>

</div>
