/* LOADING BAR */
.loadingIndicator {
  height: 2px;
  width: 100%;
  position: absolute;
  top: 102px;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgb(221, 221, 221);
  z-index: 2;
}

.loadingIndicatorBar {
  top: 0;
  left: -500px;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
  visibility: visible;
  display: block;
  -webkit-animation: animate-loading-indicator 3s linear infinite;
  animation: animate-loading-indicator 3s linear infinite;
  background-image: linear-gradient(90deg,

  rgb(32, 168, 216) 0, rgb(32, 168, 216) 24.9%,
  rgb(172, 180, 188) 25%, rgb(172, 180, 188) 49.9%,
  rgb(32, 168, 216) 50%, rgb(32, 168, 216) 74.9%,
  rgb(172, 180, 188) 75%, rgb(172, 180, 188));

  /*rgb(255, 119, 119) 0, rgb(255, 119, 119) 24.9%,*/
  /*rgb(255, 237, 104) 25%, rgb(255, 237, 104) 49.9%,*/
  /*rgb(119, 255, 119) 50%, rgb(119, 255, 119) 74.9%,*/
  /*rgb(191, 71, 196) 75%, rgb(191, 71, 196));*/

  background-size: 500px 500px;
  width: 200%;
}

@-webkit-keyframes animate-loading-indicator {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translate(0px);
    transform: translateX(500px);
  }
}

@keyframes animate-loading-indicator {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translate(0px);
    transform: translateX(500px);
  }
}

/* END LOADING BAR */
