<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-info-circle"></i>Plotting My Planned Running Route Against Position Data Collected

        </div>
        <div class="card-body">
          Over the course of one month last year, I wore a GPS tracker while running my standard route around my neighborhood.
          The goal was to use the data points to create a heatmap that would show when I diverged from that route.
          Over the course of 13 days, 12691 individual data points were collected (approximately one point every 5 meters).
          Zooming in, you can see these individual data points.
          Zooming out, areas in red indicate where I was consistent with my route, where green areas are where I got a bit lost.
          <br /><br />
          Technologies: Leaflet maps, Leaflet.heat plug-in, Angular Typescript code, JSON data.
          <div class="mt-3">
            <div id="map" style="border: 1px solid rgb(0, 0, 0);"></div>
          </div>

          <div class="form-group mt-3">
            <button class="btn btn-success" (click)="resetZoom();">Zoom to Neighborhood Level</button>
            <button class="btn btn-success" (click)="zoomToBuilding()">Zoom to Starting Point</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



