<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="contestant">

  <form [formGroup]="contestantEditForm">

    <div class="row">

      <div class="col-sm-6">
        <h1 *ngIf="contestant && newRecord && contestantEditForm.controls['lastName'].value == ''; else notShow">
          New Contestant
        </h1>
        <ng-template #notShow>
          <h1>
            {{contestantEditForm.controls['lastName'].value}}, {{contestantEditForm.controls['firstName'].value}}
          </h1>
        </ng-template>
      </div>

      <div class="col-sm-6">
        <div class="form-group float-right">
          <button type="button" class="btn btn-sm btn-outline-danger" style="width: 100px;" *ngIf="!newRecord"
                  (click)="delete(contestant.guid)">
            <!--            [disabled]="authService.allowRoles('ROLE_ADMIN')"-->
            <u>D</u>elete
          </button>
          <button type="button" class="btn btn-sm btn-outline-success" style="width: 100px;" (click)="save()"
                  [disabled]="!contestantEditForm.valid">
            <u>S</u>ave
          </button>
          <button type="button" class="btn btn-sm btn-outline-info ml-3" style="width: 100px;" (click)="cancel()">
            <u>C</u>ancel
          </button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-user"></i>
            Basic Info (Required)
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input matInput id="lastName" #lastNameInputField type="text" class="form-control" placeholder="Last Name"
                         formControlName="lastName" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.lastName">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('lastName').hasError(validation.type)
                                && (contestantEditForm.get('lastName').dirty ||
                                contestantEditForm.get('lastName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input matInput id="firstName" type="text" class="form-control" placeholder="First Name"
                         formControlName="firstName">
                  <mat-error *ngFor="let validation of validationMessages.firstName">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('firstName').hasError(validation.type)
                                && (contestantEditForm.get('firstName').dirty ||
                                contestantEditForm.get('firstName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="nickname">Nickname</label>
                  <input matInput id="nickname" type="text" class="form-control" placeholder="Nickname"
                         formControlName="nickname">
                  <mat-error *ngFor="let validation of validationMessages.nickname">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('nickname').hasError(validation.type)
                                && (contestantEditForm.get('nickname').dirty ||
                                contestantEditForm.get('nickname').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="gender">Gender</label>
                  <select id="gender" class="form-control" formControlName="gender">
                    <option value="">Pick a Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.gender">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('gender').hasError(validation.type)
                                && (contestantEditForm.get('gender').dirty ||
                                contestantEditForm.get('gender').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <i class="fa fa-address-card"></i>
            Additional Info (Optional)
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="dateOfBirth">Date of Birth</label>
                  <input matInput id="dateOfBirth" type="text" class="form-control" placeholder="Date of Birth"
                         formControlName="dateOfBirth" autocomplete="chrome-off">

<!--                  <input id="dateOfBirth" type="text" class="form-control" bsDatepicker formControlName="dateOfBirth">-->

                  <mat-error *ngFor="let validation of validationMessages.dateOfBirth">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('dateOfBirth').hasError(validation.type)
                                && (contestantEditForm.get('dateOfBirth').dirty ||
                                contestantEditForm.get('dateOfBirth').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="twitterHandle">Twitter Handle</label>
                  <input matInput id="twitterHandle" type="text" class="form-control" placeholder="Twitter Handle"
                         formControlName="twitterHandle">
                  <mat-error *ngFor="let validation of validationMessages.twitterHandle">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('twitterHandle').hasError(validation.type)
                                && (contestantEditForm.get('twitterHandle').dirty ||
                                contestantEditForm.get('twitterHandle').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <i class="fa fa-rss"></i>
            Metadata
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="guid">GUID</label>
                  <input matInput id="guid" type="text" class="form-control" placeholder="GUID"
                         formControlName="guid" autocomplete="chrome-off" readonly>
                  <mat-error *ngFor="let validation of validationMessages.guid">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('guid').hasError(validation.type)
                                && (contestantEditForm.get('guid').dirty ||
                                contestantEditForm.get('guid').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="comments">Comments</label>
                  <input matInput id="comments" type="text" class="form-control" placeholder="Comments"
                         formControlName="comments">
                  <mat-error *ngFor="let validation of validationMessages.comments">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('comments').hasError(validation.type)
                                && (contestantEditForm.get('comments').dirty ||
                                contestantEditForm.get('comments').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

      </div>
    </div>

  </form>

</div>
