<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="contestant">

  <form [formGroup]="contestantEditForm">

    <div class="row">

      <div class="col-sm-6">
        <h1 *ngIf="contestant && newRecord && contestantEditForm.controls['contestantLastName'].value == ''; else notShow">
          New Contestant
        </h1>
        <ng-template #notShow>
          <h1>
            {{contestantEditForm.controls['contestantFirstName'].value}} {{contestantEditForm.controls['contestantLastName'].value}}
          </h1>
        </ng-template>
      </div>

      <div class="col-sm-6">
        <div class="form-group float-right">
          <button type="button" class="btn btn-sm btn-outline-danger" style="width: 100px;" *ngIf="!newRecord"
                  (click)="delete(contestant.contestantGuid)">
            <!--            [disabled]="authService.allowRoles('ROLE_ADMIN')"-->
            <u>D</u>elete
          </button>
          <button type="button" class="btn btn-sm btn-outline-success" style="width: 100px;" (click)="save()"
                  [disabled]="!contestantEditForm.valid">
            <u>S</u>ave
          </button>
          <button type="button" class="btn btn-sm btn-outline-info ml-3" style="width: 100px;" (click)="cancel()">
            <u>C</u>ancel
          </button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-user"></i>
            Basic Info
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="contestantLastName">Last Name*</label>
                  <input matInput id="contestantLastName" #lastNameInputField type="text" class="form-control" placeholder="Last Name"
                         formControlName="contestantLastName" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.contestantLastName">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('contestantLastName').hasError(validation.type)
                                && (contestantEditForm.get('contestantLastName').dirty ||
                                contestantEditForm.get('contestantLastName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="contestantFirstName">First Name*</label>
                  <input matInput id="contestantFirstName" type="text" class="form-control" placeholder="First Name"
                         formControlName="contestantFirstName">
                  <mat-error *ngFor="let validation of validationMessages.contestantFirstName">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('contestantFirstName').hasError(validation.type)
                                && (contestantEditForm.get('contestantFirstName').dirty ||
                                contestantEditForm.get('contestantFirstName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="contestantNickname">Nickname</label>
                  <input matInput id="contestantNickname" type="text" class="form-control" placeholder="Nickname"
                         formControlName="contestantNickname">
                  <mat-error *ngFor="let validation of validationMessages.contestantNickname">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('contestantNickname').hasError(validation.type)
                                && (contestantEditForm.get('contestantNickname').dirty ||
                                contestantEditForm.get('contestantNickname').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="contestantGender">Gender*</label>
                  <select id="contestantGender" class="form-control" formControlName="contestantGender">
                    <option value="">Pick a Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="O">Other</option>
                  </select>
                  <mat-error *ngFor="let validation of validationMessages.contestantGender">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('contestantGender').hasError(validation.type)
                                && (contestantEditForm.get('contestantGender').dirty ||
                                contestantEditForm.get('contestantGender').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <i class="fa fa-address-card"></i>
            Additional Info (Optional)
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="contestantDateOfBirth">Date of Birth</label>
                  <input matInput id="contestantDateOfBirth" type="text" class="form-control" placeholder="Date of Birth"
                         formControlName="contestantDateOfBirth" autocomplete="chrome-off">

<!--                  <input id="dateOfBirth" type="text" class="form-control" bsDatepicker formControlName="dateOfBirth">-->

                  <mat-error *ngFor="let validation of validationMessages.contestantDateOfBirth">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('contestantDateOfBirth').hasError(validation.type)
                                && (contestantEditForm.get('contestantDateOfBirth').dirty ||
                                contestantEditForm.get('contestantDateOfBirth').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="contestantTwitterHandle">Twitter Handle</label>
                  <input matInput id="contestantTwitterHandle" type="text" class="form-control" placeholder="Twitter Handle"
                         formControlName="contestantTwitterHandle">
                  <mat-error *ngFor="let validation of validationMessages.contestantTwitterHandle">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('contestantTwitterHandle').hasError(validation.type)
                                && (contestantEditForm.get('contestantTwitterHandle').dirty ||
                                contestantEditForm.get('contestantTwitterHandle').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <i class="fa fa-rss"></i>
            Metadata
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="contestantComments">Comments</label>
                  <input matInput id="contestantComments" type="text" class="form-control" placeholder="Comments"
                         formControlName="contestantComments">
                  <mat-error *ngFor="let validation of validationMessages.contestantComments">
                    <mat-error class="error-message"
                               *ngIf="contestantEditForm.get('contestantComments').hasError(validation.type)
                                && (contestantEditForm.get('contestantComments').dirty ||
                                contestantEditForm.get('contestantComments').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <div class="float-left" style="line-height: 28px;">
              <i class="fa fa-calendar mr-2"></i>
              Seasons Played
            </div>
            <button type="button" class="btn btn-sm btn-outline-primary float-right" (click)="openContestantSeasonEditDialog()"
                    style="cursor: pointer;">
              <u>U</u>pdate Seasons Played
            </button>
          </div>
          <div class="card-body">

            <div class="table-container">

              <table mat-table [dataSource]="dataSource" *ngIf="dataSource && dataSource.length > 0"
                     class="table table-striped">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Series Name</th>
                  <td mat-cell *matCellDef="let row">
                    <a [routerLink]="['/reality-tracker/season-detail', row.seasonGuid]">
                      {{row.seriesName}} {{row.seasonName}}
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="playerLink">
                  <th mat-header-cell *matHeaderCellDef>Player Link</th>
                  <td mat-cell *matCellDef="let row">
                    <a [routerLink]="['/reality-tracker/player-detail', row.playerGuid]">
                      {{row.contestantFirstName}} {{row.contestantLastName}} in {{row.seriesAbbreviation}}{{row.seasonAbbreviation}}
                    </a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [hidden]="true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <div class="no-records" *ngIf="dataSource && dataSource.length <= 0">
                No records to display.
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </form>

</div>
