<div class="tqp-crud-detail animated fadeIn" *ngIf="user">

  <nav class="navbar navbar-dark bg-dark bg-gray-700 mb-3 justify-content-between">
    <div class="navbar-brand">
      <i class="fa fa-user mr-2"></i>{{user.surname}}, {{user.givenName}}
    </div>
    <div>
      <!--
      <button class="btn btn btn-dark mr-2" (click)="returnToList()">Return to User List</button>
      -->

      <div class="float-right">
        <div class="btn-group" dropdown [placement]="'right'">
          <button dropdownToggle type="button" class="btn btn-dark dropdown-toggle">
            Actions<span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem"><a class="dropdown-item">Reset Password</a></li>
            <li role="menuitem"><a class="dropdown-item">Disable User</a></li>
            <li role="menuitem"><a class="dropdown-item">Enable User</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-info-circle"></i>
          User Information
          <i *ngIf="userInfoLoading" class="fa fa-spinner fa-spin ml-1"></i>
          <div class="card-header-actions">
          </div>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Username:</dt>
            <dd class="col-sm-8">{{user.username}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Surname:</dt>
            <dd class="col-sm-8">{{user.surname}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Given Name:</dt>
            <dd class="col-sm-8">{{user.givenName}}</dd>
          </dl>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-file-photo-o"></i>
          Photo
          <i *ngIf="userInfoLoading" class="fa fa-spinner fa-spin ml-1"></i>
        </div>
        <div class="card-body">
          <img src="{{user.picture}}" alt="user" *ngIf="user.picture"/>
          <span *ngIf="!user.picture">No photo available</span>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-info-circle"></i>
          Login Information
          <i *ngIf="userInfoLoading" class="fa fa-spinner fa-spin ml-1"></i>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Login Count:</dt>
            <dd class="col-sm-8">{{user.loginCount}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Last Login:</dt>
            <dd class="col-sm-8">{{user.lastLogin | date: 'dd-MMM-yyyy'}}</dd>
          </dl>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-tag"></i>
          Metadata
          <i *ngIf="userInfoLoading" class="fa fa-spinner fa-spin ml-1"></i>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">GUID:</dt>
            <dd class="col-sm-8">{{user.userId}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Created On:</dt>
            <dd class="col-sm-8">{{user.createdOn}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Created By:</dt>
            <dd class="col-sm-8">{{user.createdBy}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Updated On:</dt>
            <dd class="col-sm-8">{{user.updatedOn}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Updated By:</dt>
            <dd class="col-sm-8">{{user.updatedBy}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Status:</dt>
            <dd class="col-sm-8">{{user.status}}</dd>
          </dl>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-sm-12">

      <div class="card tqp-crud-detail-list">
        <div class="card-header disable-text-selection" (click)="toggleUserRoleListIsCollapsed($event)">
          <i class="fa fa-key"></i>
          User-Roles<span class="badge badge-secondary ml-2">{{userRoleListDataSource.length}}</span>
          <i *ngIf="userRoleListLoading" class="fa fa-spinner fa-spin ml-1"></i>
          <div class="card-header-actions">
            <i class="fa fa-bars ml-2" [@rotateIcon]="userRoleListIsCollapsed ? 'default' : 'rotated'"></i>
          </div>
        </div>
        <div class="card-body" [collapse]="userRoleListIsCollapsed">

          <div class="table-container">

            <table mat-table class="table" [dataSource]="userRoleListDataSource"
                   *ngIf="userRoleListDataSource && userRoleListDataSource.length > 0">

              <ng-container matColumnDef="roleName">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let row">{{row.roleName}}</td>
              </ng-container>

              <ng-container matColumnDef="updatedOn">
                <th mat-header-cell *matHeaderCellDef>Updated On</th>
                <td mat-cell *matCellDef="let row">{{row.updatedOn}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="userRoleListDisplayedColumns; sticky: true" [hidden]="true"></tr>
              <tr mat-row *matRowDef="let row; columns: userRoleListDisplayedColumns;"></tr>
            </table>

            <div class="no-records"
                 *ngIf="!userRoleListLoading && userRoleListDataSource && userRoleListDataSource.length <= 0">
              No Records Found
            </div>

          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-tag"></i>
          Token Info
          <i *ngIf="tokenInfoLoading" class="fa fa-spinner fa-spin ml-1"></i>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Subject:</dt>
            <dd class="col-sm-9">{{decodedToken.sub}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Issued At:</dt>
            <dd class="col-sm-9">{{decodedToken.iatText}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Expiration:</dt>
            <dd class="col-sm-9">{{decodedToken.expText}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Authorities:</dt>
            <dd class="col-sm-9">{{decodedToken.authorities}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Raw Token:</dt>
            <dd class="col-sm-9">
              {{decodedToken.rawToken}}
            </dd>
          </dl>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-tag"></i>
          Endpoint Diagnostics
          <i *ngIf="numberOfEndpointTests > 0" class="fa fa-spinner fa-spin ml-1"></i>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-3">Open:</dt>
            <dd class="col-sm-9">
              <i class="fa fa-times-circle text-danger" *ngIf="openTestResult === 'Blocked'"></i>
              <i class="fa fa-check-circle text-success" *ngIf="openTestResult !== 'Blocked'"></i>
              {{openTestResult}}
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Guest Role:</dt>
            <dd class="col-sm-9">
              <i class="fa fa-times-circle text-danger" *ngIf="guestTestResult === 'Blocked'"></i>
              <i class="fa fa-check-circle text-success" *ngIf="guestTestResult !== 'Blocked'"></i>
              {{guestTestResult}}
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">User Role:</dt>
            <dd class="col-sm-9">
              <i class="fa fa-times-circle text-danger" *ngIf="userTestResult === 'Blocked'"></i>
              <i class="fa fa-check-circle text-success" *ngIf="userTestResult !== 'Blocked'"></i>
              {{userTestResult}}
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Manager Role:</dt>
            <dd class="col-sm-9">
              <i class="fa fa-times-circle text-danger" *ngIf="managerTestResult === 'Blocked'"></i>
              <i class="fa fa-check-circle text-success" *ngIf="managerTestResult !== 'Blocked'"></i>
              {{managerTestResult}}
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Admin Role:</dt>
            <dd class="col-sm-9">
              <i class="fa fa-times-circle text-danger" *ngIf="adminTestResult === 'Blocked'"></i>
              <i class="fa fa-check-circle text-success" *ngIf="adminTestResult !== 'Blocked'"></i>
              {{adminTestResult}}
            </dd>
          </dl>
        </div>
      </div>

    </div>

  </div>
</div>
