<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="user">

  <form [formGroup]="userEditForm">

    <nav class="navbar navbar-dark bg-dark bg-gray-700 mb-3 justify-content-between">
      <div class="navbar-brand">
        <i class="fa fa-user mr-2"></i>
        <span *ngIf="!newRecord">
          {{user.surname}}, {{user.givenName}}
        </span>
        <span
          *ngIf="newRecord">{{userEditForm.controls['surname'].value}}{{userEditForm.controls['givenName'].value ? ',' : ''}}
          {{userEditForm.controls['givenName'].value}}</span>
      </div>
      <div>
        <div class="float-right">
          <div class="btn-group" dropdown [placement]="'right'">
            <button dropdownToggle type="button" class="btn btn-dark dropdown-toggle">
              Actions<span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
              <li role="menuitem"><a class="dropdown-item">Reset Password</a></li>
              <li role="menuitem"><a class="dropdown-item">Disable User</a></li>
              <li role="menuitem"><a class="dropdown-item">Enable User</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-info-circle"></i>
            User Information
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="surname">Surname*</label>
                  <input matInput id="surname" #defaultInputField type="text" class="form-control"
                         placeholder="Surname"
                         formControlName="surname" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.surname">
                    <mat-error class="error-message"
                               *ngIf="userEditForm.get('surname').hasError(validation.type)
                                && (userEditForm.get('surname').dirty ||
                                userEditForm.get('surname').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="givenName">Given Name*</label>
                  <input matInput id="givenName" type="text" class="form-control"
                         placeholder="Given Name"
                         formControlName="givenName">
                  <mat-error *ngFor="let validation of validationMessages.givenName">
                    <mat-error class="error-message"
                               *ngIf="userEditForm.get('givenName').hasError(validation.type)
                                && (userEditForm.get('givenName').dirty ||
                                userEditForm.get('givenName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="username">Username* <small>(This is usually the User's email address)</small></label>
                  <input matInput id="username" type="text" class="form-control" placeholder="Username"
                         formControlName="username">
                  <mat-error *ngFor="let validation of validationMessages.username">
                    <mat-error class="error-message"
                               *ngIf="userEditForm.get('username').hasError(validation.type)
                                && (userEditForm.get('username').dirty ||
                                userEditForm.get('username').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label>Roles</label>
                  <div class="col-md-12 col-form-label checkbox-area-container">

                    <label formArrayName="roleCheckboxes" class="checkbox-label"
                           *ngFor="let checkbox of roleCheckboxFormArray.controls; let i = index">
                      <div class="row">
                        <div class="col-4">
                          <input type="checkbox" [formControlName]="i" (change)="updateCheckboxFormValue()"/>
                          {{roleList[i].roleName}}
                        </div>
                        <div class="col-8">
                          {{roleList[i].roleDescription}}
                        </div>
                      </div>
                    </label>

                  </div>
                  <mat-error *ngFor="let validation of validationMessages.roleCheckboxes">
                    <mat-error class="error-message"
                               *ngIf="userEditForm.get('roleCheckboxes').hasError(validation.type)
                                && (userEditForm.get('roleCheckboxes').dirty ||
                                userEditForm.get('roleCheckboxes').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>

          <div class="card-footer">
            <button type="button" class="btn btn-primary float-right" (click)="save()"
                    [disabled]="!userEditForm.valid">
              <i class="fa fa-save mr-2"></i>Save
            </button>
            <button type="button" class="btn btn-secondary float-left mr-1" (click)="cancel()">
              <i class="fa fa-ban mr-2"></i>Cancel
            </button>
          </div>

        </div>

      </div>

      <div class="col-lg-6 col-sm-12">
      </div>

    </div>

  </form>

</div>
