<h2 mat-dialog-title>
  Associate Contestant to Seasons
</h2>

<mat-dialog-content style="overflow: hidden">

  <div id="list-add-remove-container">
    <app-list-add-remove-items-basic
      class="component"
      #listAddRemoveItemsBasicComponent
      [currentItemsList]="currentContestantsList"
      [availableItemsList]="availableContestantsList"
      (listAddRemoveOutput)="addRemoveContestants($event)">
    </app-list-add-remove-items-basic>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="reset();">Reset</button>
  <div fxFlex></div>
  <button mat-raised-button mat-dialog-close color="primary" (click)="save();">Save</button>
</mat-dialog-actions>
