<div class="tqp-crud-detail animated fadeIn" *ngIf="user">

  <nav class="navbar navbar-dark bg-dark bg-gray-700 mb-3 justify-content-between">
    <div class="navbar-brand" [ngClass]="user.status == 'd' ? 'text-danger' : ''">
      <i class="fa fa-user mr-2" *ngIf="user.status != 'd'"></i>
      <i class="fa fa-user-times mr-2" *ngIf="user.status == 'd'"></i>
      <span>{{user.surname}}, {{user.givenName}}</span>
    </div>
    <div>
      <button class="btn btn btn-dark mr-2" *ngIf="user.status != 'd'"
              (click)="this.router.navigate(['admin/user-list']).then();">
        Return to User List
      </button>
      <button class="btn btn btn-dark mr-2" *ngIf="user.status == 'd'"
              (click)="this.router.navigate(['admin/user-list-deleted']).then();">
        Return to Deleted User List
      </button>

      <div class="float-right">
        <div class="btn-group" dropdown [placement]="'right'">
          <button dropdownToggle type="button" class="btn btn-dark dropdown-toggle">
            Actions<span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <li role="menuitem" *ngIf="user.status == 'a'">
              <a class="dropdown-item text-danger" (click)="deleteUser()">
                <i class="fa fa-user-times text-danger"></i>Delete User
              </a>
            </li>
            <li role="menuitem" *ngIf="user.status == 'd'">
              <a class="dropdown-item" (click)="restoreDeletedUser()">
                <i class="fa fa-user-plus"></i>Un-Delete User
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-lg-6 col-sm-12">

      <div class="card">
        <div class="card-header">
          <i class="fa fa-info-circle"></i>
          User Information
          <i *ngIf="loading" class="fa fa-spinner fa-spin ml-1"></i>
          <div class="card-header-actions">
            <small class="tqp-nav-link"
                   [hidden]="authService.allowRoles('ROLE_ADMIN','Edit User')"
                   (click)="openUserEditPage();">
              Edit User
            </small>
          </div>
        </div>
        <div class="card-body">
          <dl class="row" [hidden]="user.status == 'a'">
            <dt class="col-sm-4">Status:</dt>
            <dd class="col-sm-8" [ngClass]="user.status == 'd' ? 'text-danger' : ''">
              {{translateStatus[user.status]}}
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Username:</dt>
            <dd class="col-sm-8">{{user.username}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Surname:</dt>
            <dd class="col-sm-8">{{user.surname}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Given Name:</dt>
            <dd class="col-sm-8">{{user.givenName}}</dd>
          </dl>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-file-photo-o"></i>
          Photo
          <i *ngIf="loading" class="fa fa-spinner fa-spin ml-1"></i>
        </div>
        <div class="card-body">
          <img src="{{user.picture}}" alt="user" *ngIf="user.picture"/>
          <span *ngIf="!user.picture">No photo available</span>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-info-circle"></i>
          Login Information
          <i *ngIf="loading" class="fa fa-spinner fa-spin ml-1"></i>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Login Count:</dt>
            <dd class="col-sm-8">{{user.loginCount}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Last Login:</dt>
            <dd class="col-sm-8" *ngIf="user.lastLogin">{{user.lastLogin}}</dd>
            <dd class="col-sm-8 text-danger" *ngIf="!user.lastLogin">Never Logged In</dd>
          </dl>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <i class="fa fa-tag"></i>
          Metadata
          <i *ngIf="loading" class="fa fa-spinner fa-spin ml-1"></i>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">GUID:</dt>
            <dd class="col-sm-8">{{user.userId}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Created On:</dt>
            <dd class="col-sm-8">{{user.createdOn}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Created By:</dt>
            <dd class="col-sm-8">
              <app-username-from-id [userId]="user.createdBy"></app-username-from-id>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Updated On:</dt>
            <dd class="col-sm-8">{{user.updatedOn}}</dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Updated By:</dt>
            <dd class="col-sm-8">
              <app-username-from-id [userId]="user.updatedBy"></app-username-from-id>
            </dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-4">Status:</dt>
            <dd class="col-sm-8">{{translateStatus[user.status]}}</dd>
          </dl>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-sm-12">

      <div class="card tqp-crud-detail-list">
        <div class="card-header disable-text-selection" (click)="toggleUserRoleListIsCollapsed($event)">
          <i class="fa fa-key"></i>
          User-Roles<span class="badge badge-secondary ml-2">{{userRoleListDataSource.length}}</span>
          <i *ngIf="userRoleListLoading" class="fa fa-spinner fa-spin ml-1"></i>
          <div class="card-header-actions">
            <small class="tqp-nav-link"
                   [hidden]="authService.allowRoles('ROLE_ADMIN','Edit Roles')"
                   (click)="openUserEditPage();">
              Edit Roles
            </small>
            <i class="fa fa-bars ml-2" [@rotateIcon]="userRoleListIsCollapsed ? 'default' : 'rotated'"></i>
          </div>
        </div>
        <div class="card-body" [collapse]="userRoleListIsCollapsed">

          <div class="table-container">

            <table mat-table class="table" [dataSource]="userRoleListDataSource"
                   *ngIf="userRoleListDataSource && userRoleListDataSource.length > 0">

              <ng-container matColumnDef="roleName">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/admin/role-detail', row.roleId]">
                    {{row.roleName}}
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="updatedOn">
                <th mat-header-cell *matHeaderCellDef>Updated On</th>
                <td mat-cell *matCellDef="let row">
                  <a [routerLink]="['/admin/user-role-detail', row.userRoleId]">
                    {{row.updatedOn}}
                  </a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="userRoleListDisplayedColumns; sticky: true" [hidden]="true"></tr>
              <tr mat-row *matRowDef="let row; columns: userRoleListDisplayedColumns;"></tr>
            </table>

            <div class="no-records"
                 *ngIf="!userRoleListLoading && userRoleListDataSource && userRoleListDataSource.length <= 0">
              No Records Found
            </div>

          </div>

        </div>
      </div>

    </div>

  </div>
</div>
