<div id="container">

  <div class="float-left">
    <h2>Associate Friends</h2>
  </div>

  <div class="float-right">
    <button mat-raised-button class="mb-3" (click)="cancel()">Cancel</button>
    <button mat-raised-button class="mb-3" (click)="reset()">Reset</button>
    <button mat-raised-button color='primary' class="mb-3" (click)="save()">Save</button>
  </div>

  <div id="list-add-remove-container">
    <app-list-add-remove-items-basic
      class="component"
      #listAddRemoveItemsBasicComponent
      [currentItemsList]="currentFriendsList"
      [availableItemsList]="availableFriendsList"
      (listAddRemoveOutput)="addRemoveFriends($event)">
    </app-list-add-remove-items-basic>
  </div>

</div>
