<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="season">

  <form [formGroup]="seasonEditForm">

    <div class="row">

      <div class="col-sm-6">
        <h1 *ngIf="season && newRecord && seasonEditForm.controls['name'].value == ''; else notShow">
          New Season
        </h1>
        <ng-template #notShow>
          <h1>
            {{seasonEditForm.controls['name'].value}}
          </h1>
        </ng-template>
      </div>

      <div class="col-sm-6">
        <div class="form-group float-right">
          <button type="button" class="btn btn-sm btn-outline-danger" style="width: 100px;" *ngIf="!newRecord"
                  (click)="delete(season.seasonGuid)">
            <!--            [disabled]="authService.allowRoles('ROLE_ADMIN')"-->
            <u>D</u>elete
          </button>
          <button type="button" class="btn btn-sm btn-outline-success" style="width: 100px;" (click)="save()"
                  [disabled]="!seasonEditForm.valid">
            <u>S</u>ave
          </button>
          <button type="button" class="btn btn-sm btn-outline-info ml-3" style="width: 100px;" (click)="cancel()">
            <u>C</u>ancel
          </button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-leaf"></i>
            Season
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Season Name</label>
                  <input matInput id="name" type="text" class="form-control" placeholder="Last Name"
                         formControlName="name" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.name">
                    <mat-error class="error-message"
                               *ngIf="seasonEditForm.get('name').hasError(validation.type)
                                && (seasonEditForm.get('name').dirty ||
                                seasonEditForm.get('name').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="abbreviation">Abbreviation</label>
                  <input matInput id="abbreviation" type="text" class="form-control" placeholder="Abbreviation"
                         formControlName="abbreviation" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.abbreviation">
                    <mat-error class="error-message"
                               *ngIf="seasonEditForm.get('abbreviation').hasError(validation.type)
                                && (seasonEditForm.get('abbreviation').dirty ||
                                seasonEditForm.get('abbreviation').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-group"></i>
            Players
          </div>
          <div class="card-body">

            <div class="table-container">

              <table mat-table [dataSource]="dataSource" *ngIf="dataSource && dataSource.length > 0"
                     class="table table-striped">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>GUID</th>
                  <td mat-cell *matCellDef="let row">{{row.contestantLastName}}, {{row.contestantFirstName}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" [hidden]="true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openPlayerDetailPage(row);"></tr>
              </table>

              <div class="no-records" *ngIf="dataSource && dataSource.length <= 0">
                No records to display.
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </form>

</div>
