<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Notifications
    </div>
    <div class="card-body">
      <button class="btn btn-success mr-1 mb-1" (click)="showSuccess()">Success</button>
      <button class="btn btn-danger mr-1 mb-1" (click)="showError()">Error</button>
      <button class="btn btn-info mr-1 mb-1" (click)="showInfo()">Info</button>
      <button class="btn btn-warning mr-1 mb-1" (click)="showWarning()">Warning</button>
    </div>
  </div>
</div>
