<div class="background-image"></div>

<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">

                <form [formGroup]="loginForm" novalidate>
                  <h1>Tim's Analytics</h1>
                  <p class="text-muted">Sign in to your account<span matTooltip="{{googleRedirectUri}}">.</span></p>

                  <div class="row mb-3">
                    <div class="col-12">
                      <form ngNoForm action="https://accounts.google.com/o/oauth2/v2/auth" method="GET"
                            style="margin-top: 10px;">
                        <input type="hidden" name="client_id" value="{{googleClientId}}">
                        <input type="hidden" name="redirect_uri" value="{{googleRedirectUri}}">
                        <input type="hidden" name="state" value="{{csrfToken}}">
                        <input type="hidden" name="prompt" value="select_account">
                        <input type="hidden" name="response_type" value="code">
                        <input type="hidden" name="scope" value="profile email openid">
                        <!--
                        <input type="hidden" name="hd" value="timsanalytics.com">
                        -->
                        <!--
                        <input type="hidden" name="login_hint" value="tim@timsanalytics.com">
                        -->
                        <button type="submit" class="btn btn-brand btn-google-plus btn-block"
                                [disabled]="!googleClientId">
                          <i class="fa fa-google-plus float-left"></i>
                          Login With Google
                        </button>
                      </form>
                    </div>
                  </div>

                  <div class="row" [@hideCredentialsButton]="logonFormVisible ? 'hidden' : 'visible'">
                    <div class="col-12">
                      <button type="button" class="btn btn-brand btn-github btn-block" [disabled]="!googleClientId"
                              (click)="toggleFormPane()">
                        <i class="fa fa-key float-left"></i>
                        <span>Log On With Credentials</span>
                      </button>
                    </div>
                  </div>

                  <div id="credentials" [@displayLogonForm]="logonFormVisible ? 'visible' : 'hidden'">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <label for="email"></label>
                      <input id="email" formControlName="email" type="text" class="form-control" placeholder="Username"
                             autocomplete="username" required>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <label for="password"></label>
                      <input id="password" formControlName="password" type="password" class="form-control"
                             placeholder="Password" autocomplete="current-password" required>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <div class="flex-row-space-between">
                          <button type="button" class="btn btn-secondary form-row-button" (click)="toggleFormPane()">
                            Close Form
                          </button>
                          <button type="button" class="btn btn-primary form-row-button btn-ladda"
                                  data-style="expand-right" [ladda]="logonInProcess" (click)="loginApp()">
                            Login
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div style="margin-top: 10px; height: 20px;">
                    <!--
                    <mat-error *ngIf="loginForm.get('generalError').hasError('customValidator')">
                      {{errorMessage}}
                    </mat-error>
                    -->
                    <mat-error *ngIf="errorMessage">
                      {{errorMessage}}
                    </mat-error>
                  </div>

                  <!--
                  <p>googleClientId: {{googleClientId}}</p>
                  <p>googleRedirectUri: {{googleRedirectUri}}</p>
                  -->

                </form>
              </div>
            </div>

            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Hi there!</h2>
                  <p>
                    This is a site that Tim uses to experiment with various Angular/Spring projects he's working on.
                    These projects are mostly related to data visualization and geographic mapping.
                  </p>
                  <!--
                  <p>
                    If you don't have a logon, you can use:<br />
                    Username: guest<br />
                    Password: guest1
                  </p>
                  -->
                  <!--
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                  -->
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
