.tqp-crud-detail {

  .tqp-nav-link {
    color: #20A8D8;
    cursor: pointer;
  }

  .tqp-nav-link:focus {
    outline: none;
  }

  dl {
    margin-bottom: 0;
    min-height: 30px;
  }

  dt {
    font-weight: normal;
  }

  dd {
    font-weight: 500;
  }

  .tqp-crud-detail-list .card-body {
    padding: 0 !important;
  }

  // TABLE STYLES

  .table-container {
    //height: 500px;
    overflow: auto;
  }

  table {
    width: 100%;
    margin-bottom: 0 !important;
  }

  // Remove Angular Material Styling in favor of CoreUi Styling
  table {
    &.table-sm {
      tr.mat-row, tr.mat-footer-row {
        height: unset !important;
      }
    }
    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
      padding: 0.30rem 0.75rem!important;
    }
  }

  .table td {
    border-top: none !important;
  }

  th {
    border-top: 0 !important; /* Fixes issue where row text pixels appear above header when using 'table' class . */
  }

  th.mat-header-cell {
    padding: 0.75rem !important;
  }

  tr.mat-row {
    height: 20px !important;
  }

  td.mat-cell {
    //padding: 0.75rem !important;
    //padding: 0.50rem 0.75rem !important;
    //border-bottom: none !important;
  }

  .no-records {
    padding: 0.30rem 0.75rem !important;
  }

  //::-webkit-scrollbar {
  //  width: 0;
  //  background: transparent;
  //}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}
