.tqp-crud-detail {

  .navbar {
    border: 1px solid rgb(35, 40, 44);
    margin-bottom: 3rem;
  }

  .tqp-nav-link {
    color: #20A8D8;
    cursor: pointer;
  }

  .tqp-nav-link:focus {
    outline: none;
  }

  dl {
    margin-bottom: 0;
    min-height: 30px;
  }

  dt {
    font-weight: normal;
  }

  dd {
    font-weight: 500;
  }

  li {
    cursor: pointer;
  }

  .tqp-crud-detail-list .card-body {
    padding: 10px 10px !important;
    min-height: 65px;
  }

  // TABLE STYLES

  .table-container {
    overflow: auto;
  }

  table {
    width: 100%;
    margin-bottom: 0 !important;
  }

  .table td {
    border-top: none !important;
  }


  th {
    border-top: 0 !important; /* Fixes issue where row text pixels appear above header when using 'table' class . */
  }

  th.mat-header-cell {
    padding: 0.75rem !important;
  }

  tr.mat-row {
    height: 20px !important;
  }

  td.mat-cell {
    //padding: 0.75rem !important;
    padding: 0.50rem 0.75rem !important;
    //border-bottom: none !important;
  }

  .no-records {
    width: 100%;
    padding: 0.75rem;
    //min-height: 50px;
  }

  //::-webkit-scrollbar {
  //  width: 0;
  //  background: transparent;
  //}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}
