.tqp-crud-detail-edit {

  dl {
    margin-bottom: 0;
    min-height: 30px;
  }

  dt {
    font-weight: normal;
  }

  dd {
    font-weight: 500;
  }

  .table-container {
    height: 500px;
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  table {
    width: 100%;
  }

  th.mat-header-cell {
    background: rgb(52, 59, 65);
  }

  th {
    border-top: 0 !important; /* Fixes issue where row text pixels appear above header when using 'table' class. */
  }

  .spinner-container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: unset;
  }

  // CHECKBOXES

  .checkbox-area-container {
    border: 1px solid rgb(35, 40, 44);
    border-radius: 0.25rem;
  }

  .checkbox-label {
    display: block;
  }

  .radio-button-area-container {
    border: 1px solid rgb(228, 231, 234);
    border-radius: 0.25rem;
  }

  .radio.form-check {
    margin: 5px 0;
  }

}
