// THESE SHOULD NOT HAVE ANY COLOR-RELATED SETTINGS

.tqp-crud-list {

  .card-header {
    padding: 0.5rem 1rem !important;
  }

  .table thead th {
    border-bottom: 1px solid rgb(35, 40, 44) !important;
  }

  .no-records {
    padding: 0.75rem !important;
    margin-top: -10px !important;
  }

}
