<div class="tqp-crud-detail-edit animated fadeIn" *ngIf="series">

  <form [formGroup]="seriesEditForm">

    <div class="row">

      <div class="col-sm-6">
        <h1 *ngIf="series && newRecord && seriesEditForm.controls['seriesName'].value == ''; else notShow">
          New Series
        </h1>
        <ng-template #notShow>
          <h1>
            {{seriesEditForm.controls['seriesName'].value}}
          </h1>
        </ng-template>
      </div>

      <div class="col-sm-6">
        <div class="form-group float-right">
          <button type="button" class="btn btn-sm btn-outline-danger" style="width: 100px;" *ngIf="!newRecord"
                  (click)="delete(series.seriesGuid)">
            <!--            [disabled]="authService.allowRoles('ROLE_ADMIN')"-->
            <u>D</u>elete
          </button>
          <button type="button" class="btn btn-sm btn-outline-success" style="width: 100px;" (click)="save()"
                  [disabled]="!seriesEditForm.valid">
            <u>S</u>ave
          </button>
          <button type="button" class="btn btn-sm btn-outline-info ml-3" style="width: 100px;" (click)="cancel()">
            <u>C</u>ancel
          </button>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">

        <div class="card">
          <div class="card-header">
            <i class="fa fa-star"></i>
            Series
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="seriesName">Series Name</label>
                  <input matInput id="seriesName" type="text" class="form-control" placeholder="Series Name"
                         formControlName="seriesName" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.seriesName">
                    <mat-error class="error-message"
                               *ngIf="seriesEditForm.get('seriesName').hasError(validation.type)
                                && (seriesEditForm.get('seriesName').dirty ||
                                seriesEditForm.get('seriesName').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="seriesAbbreviation">Abbreviation</label>
                  <input matInput id="seriesAbbreviation" type="text" class="form-control" placeholder="Abbreviation"
                         formControlName="seriesAbbreviation" autocomplete="chrome-off">
                  <mat-error *ngFor="let validation of validationMessages.seriesAbbreviation">
                    <mat-error class="error-message"
                               *ngIf="seriesEditForm.get('seriesAbbreviation').hasError(validation.type)
                                && (seriesEditForm.get('seriesAbbreviation').dirty ||
                                seriesEditForm.get('seriesAbbreviation').touched)">
                      {{validation.message}}
                    </mat-error>
                  </mat-error>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-lg-6 col-sm-12">
      </div>

    </div>

  </form>

</div>
