<div class="tqp-crud-server-pagination-list animated fadeIn">

  <div class="card">

    <div class="card-header">
      <div class="float-left" style="line-height: 28px;">
        <i class="fa fa-users mr-2"></i>
        {{listTitle}}
        <span class="badge badge-info ml-2" *ngIf="loadedFirstPage">
          Displaying {{pageStart}} to {{pageEnd}} of {{totalRecords}} records</span>
        <span class="badge badge-warning ml-2" style="cursor: pointer" *ngIf="isFilterApplied" (click)="clearFilters()">Clear Filters</span>
      </div>
      <button class="btn btn-sm btn-outline-primary float-right" (click)="openCreatePage()">
        <i class="fa fa-plus mr-1"></i>
        Add Auto Expense
      </button>
    </div>

    <div class="card-body">

      <div class="row mb-3">

        <div class="col-md-5">
          <mat-paginator class="paginator"
                         [length]="totalRecords" [pageSize]="pageSize" [hidePageSize]="true"
                         [showFirstLastButtons]="true"></mat-paginator>
        </div>

        <div class="col-md-5 offset-md-7">

          <div class="input-group">

            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-search"></i></div>
            </div>
            <label for="nameSearchFieldId" *ngIf="false"></label>
            <input id="nameSearchFieldId" type="text" class="form-control" placeholder="Search by Something"
                   [formControl]="fuelActivityListNameSearchFormControl" #nameSearchElementRef autocomplete="off"/>
          </div>

        </div>

      </div>

      <div class="table-container" #tableContainer>

        <table mat-table [dataSource]="dataSource"
               matSort matSortActive="expenseGuid" matSortDirection="desc" matSortDisableClear="true"
               class="table table-striped">

          <ng-container matColumnDef="expenseGuid">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>GUID</th>
            <td mat-cell *matCellDef="let row">{{row.expenseGuid}}</td>
          </ng-container>

          <ng-container matColumnDef="expenseDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let row">{{row.expenseDate}}</td>
          </ng-container>

          <ng-container matColumnDef="expenseTypeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let row">{{row.expenseTypeName}}</td>
          </ng-container>

          <ng-container matColumnDef="expenseAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let row">{{row.expenseAmount}}</td>
          </ng-container>

          <ng-container matColumnDef="expenseComments">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Comments</th>
            <td mat-cell *matCellDef="let row">{{row.expenseComments}}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">
              <div class="btn-group" dropdown>
                <button type="button" class="btn btn-transparent p-0" dropdownToggle>
                  <i class="icon-options-vertical"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                  <a class="dropdown-item" (click)="openDetailPage(row)">View Detail</a>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-card class="spinner-container" *ngIf="isLoading">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate">
          </mat-progress-spinner>
        </mat-card>

      </div>

    </div>
  </div>

</div>

