<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-info-circle"></i>Interactive Globe
        </div>
        <div class="card-body">
          This page is an implementation of the Gio.js library, which itself was inspired by the
          Arms Trade Visualization project developed by Michael Chang and presented during Google Ideas INFO 2012.
          It pulls data (input country, output country, and volume) from a JSON file. It is also possible to pull
          and edit this data from an database. Thanks to Altamira for introducing it to me.
          <br/><br/>
          Technologies: Angular 9, Gio.js library.
          <br/><br/>
          <div #rendererContainer class="full-height-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>


