<mat-toolbar matDialogTitle class="mat-accent m-0">

  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title">Hi there</span>
    <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>

<div mat-dialog-content>
  This dialog showcases the title, close, content and actions elements.
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
